<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >
        <title>{% block title %}3 en Raya{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link 
            rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('bundles/frontend/') }}assets/css/style.css" rel="stylesheet">
        <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script 
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        
    </head>
    <body>
        <header>
            <div class="container jumbotron">
                <h2 class="text-center">Bienvenido a 3 en raya</h2>
            </div>
        </header>
        <section>
            {% block content %}Contenido por defecto{% endblock %}
        </section>
        <footer>

        </footer>        
    </body>
</html>